/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 16, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 19, ../sass/_reset.scss */
body {
  line-height: 1; }

/* line 22, ../sass/_reset.scss */
ol, ul {
  list-style: none; }

/* line 25, ../sass/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 29, ../sass/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none; }

/* line 34, ../sass/_reset.scss */
q:before, q:after {
  content: '';
  content: none; }

/* line 38, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'LatoBold';
  src: url("../fonts/lato-bold.eot");
  src: url("../fonts/lato-bold.eot") format("embedded-opentype"), url("../fonts/lato-bold.woff") format("woff"), url("../fonts/lato-bold.ttf") format("truetype"), url("../fonts/lato-bold.svg#LatoBold") format("svg"); }
@font-face {
  font-family: 'LatoLight';
  src: url("../fonts/lato-light.eot");
  src: url("../fonts/lato-light.eot") format("embedded-opentype"), url("../fonts/lato-light.woff") format("woff"), url("../fonts/lato-light.ttf") format("truetype"), url("../fonts/lato-light.svg#LatoLight") format("svg"); }
@font-face {
  font-family: 'GaramondPremierProLightDisplay';
  src: url("../fonts/garamondpremrpro-ltdisp.eot");
  src: url("../fonts/garamondpremrpro-ltdisp.eot") format("embedded-opentype"), url("../fonts/garamondpremrpro-ltdisp.woff") format("woff"), url("../fonts/garamondpremrpro-ltdisp.ttf") format("truetype"), url("../fonts/garamondpremrpro-ltdisp.svg#GaramondPremierProLightDisplay") format("svg"); }
@font-face {
  font-family: 'GaramondPremierProLightItalicDisplay';
  src: url("../fonts/garamondpremrpro-ltitdisp.eot");
  src: url("../fonts/garamondpremrpro-ltitdisp.eot") format("embedded-opentype"), url("../fonts/garamondpremrpro-ltitdisp.woff") format("woff"), url("../fonts/garamondpremrpro-ltitdisp.ttf") format("truetype"), url("../fonts/garamondpremrpro-ltitdisp.svg#GaramondPremierProLightItalicDisplay") format("svg"); }
@font-face {
  font-family: 'base';
  src: url("../fonts/base.eot?1o50p");
  src: url("../fonts/base.eot?#iefix1o50p") format("embedded-opentype"), url("../fonts/base.woff?1o50p") format("woff"), url("../fonts/base.ttf?1o50p") format("truetype"), url("../fonts/base.svg?1o50p#base") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../sass/_icons.scss */
[class^="icon-"], [class*=" icon-"], a.service-links-twitter, a.service-links-facebook, a.service-links-google-plus {
  font-family: 'base';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
/* line 29, ../sass/_icons.scss */
[class^="icon-"] img, [class*=" icon-"] img, a.service-links-twitter img, a.service-links-facebook img, a.service-links-google-plus img {
  display: none; }

/* line 34, ../sass/_icons.scss */
.icon-cart:before {
  content: "\e610"; }

/* line 37, ../sass/_icons.scss */
.icon-bubble:before {
  content: "\e611"; }

/* line 40, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e612"; }

/* line 43, ../sass/_icons.scss */
.icon-close:before {
  content: "\e613"; }

/* line 46, ../sass/_icons.scss */
.icon-checkmark:before {
  content: "\e614"; }

/* line 49, ../sass/_icons.scss */
.icon-minus:before {
  content: "\e615"; }

/* line 52, ../sass/_icons.scss */
.icon-plus:before {
  content: "\e616"; }

/* line 55, ../sass/_icons.scss */
.icon-feed:before {
  content: "\e601"; }

/* line 58, ../sass/_icons.scss */
.icon-youtube:before {
  content: "\e602"; }

/* line 61, ../sass/_icons.scss */
.icon-vimeo:before {
  content: "\e603"; }

/* line 64, ../sass/_icons.scss */
.icon-apple:before {
  content: "\e604"; }

/* line 67, ../sass/_icons.scss */
.icon-amazon:before {
  content: "\e605"; }

/* line 70, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e606"; }

/* line 73, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e617"; }

/* line 76, ../sass/_icons.scss */
.icon-heart2:before {
  content: "\e618"; }

/* line 79, ../sass/_icons.scss */
.icon-search:before {
  content: "\e619"; }

/* line 82, ../sass/_icons.scss */
.icon-list:before {
  content: "\e60f"; }

/* line 85, ../sass/_icons.scss */
.icon-play:before {
  content: "\e61a"; }

/* line 88, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e61b"; }

/* line 91, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e61c"; }

/* line 94, ../sass/_icons.scss */
.icon-next:before {
  content: "\e61d"; }

/* line 97, ../sass/_icons.scss */
.icon-previous:before {
  content: "\e61e"; }

/* line 100, ../sass/_icons.scss */
.icon-first:before {
  content: "\e61f"; }

/* line 103, ../sass/_icons.scss */
.icon-last:before {
  content: "\e620"; }

/* line 106, ../sass/_icons.scss */
.icon-resize-enlarge:before {
  content: "\e621"; }

/* line 109, ../sass/_icons.scss */
.icon-resize-shrink:before {
  content: "\e622"; }

/* line 112, ../sass/_icons.scss */
.icon-sound:before {
  content: "\e623"; }

/* line 115, ../sass/_icons.scss */
.icon-mute:before {
  content: "\e624"; }

/* line 118, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e625"; }

/* line 121, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e626"; }

/* line 124, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e627"; }

/* line 127, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e628"; }

/* line 130, ../sass/_icons.scss */
.icon-flickr:before {
  content: "\e607"; }

/* line 133, ../sass/_icons.scss */
.icon-twitter:before, a.service-links-twitter:before {
  content: "\e608"; }

/* line 137, ../sass/_icons.scss */
.icon-facebook:before, a.service-links-facebook:before {
  content: "\e609"; }

/* line 141, ../sass/_icons.scss */
.icon-googleplus:before, a.service-links-google-plus:before {
  content: "\e60a"; }

/* line 145, ../sass/_icons.scss */
.icon-pinterest:before {
  content: "\e60b"; }

/* line 148, ../sass/_icons.scss */
.icon-tumblr:before {
  content: "\e60c"; }

/* line 151, ../sass/_icons.scss */
.icon-linkedin:before {
  content: "\e629"; }

/* line 154, ../sass/_icons.scss */
.icon-spotify:before {
  content: "\e600"; }

/* line 157, ../sass/_icons.scss */
.icon-instagram:before {
  content: "\e60d"; }

/* line 160, ../sass/_icons.scss */
.icon-soundcloud:before {
  content: "\e60e"; }

/* line 167, ../sass/_icons.scss */
.block-btns a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
/* line 170, ../sass/_icons.scss */
.block-btns a:hover {
  color: #fff !important; }
/* line 175, ../sass/_icons.scss */
.block-btns .icon-vimeo:hover {
  background-color: #aad450; }
/* line 178, ../sass/_icons.scss */
.block-btns .icon-twitter:hover {
  background-color: #00aced; }
/* line 181, ../sass/_icons.scss */
.block-btns .icon-facebook:hover {
  background-color: #3b5998; }
/* line 184, ../sass/_icons.scss */
.block-btns .icon-googleplus:hover {
  background-color: #dd4b39; }
/* line 187, ../sass/_icons.scss */
.block-btns .icon-pinterest:hover {
  background-color: #cb2027; }
/* line 190, ../sass/_icons.scss */
.block-btns .icon-instagram:hover {
  background-color: #517fa4; }

/* VARS 
-------------------------------------------------------------- */
/*  COLORS  */
/*  TYPOGROPHY */
/*  TRANSITIONS  */
/* MIX-INS 
-------------------------------------------------------------- */
/* PLACEHOLDERS & EXTENDS
-------------------------------------------------------------- */
/* BASIC STYLES
-------------------------------------------------------------- */
/* line 9, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
/* line 12, ../sass/style.scss */
* img {
  max-width: 100%;
  height: auto; }

/* line 18, ../sass/style.scss */
body {
  font: 16px/1.5 "Verdana", sans-serif;
  background-color: #ededed;
  color: #5E5F61;
  min-height: 100%; }
/* line 24, ../sass/style.scss */
body.page-gallery {
  height: 100%; }
@media (max-width: 700px) {
  /* line 18, ../sass/style.scss */
  body {
    height: auto;
    min-height: auto; } }

/* line 34, ../sass/style.scss */
a {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #5E5F61;
  text-decoration: none; }
/* line 39, ../sass/style.scss */
a:hover {
  color: #20a5d0; }

/* line 49, ../sass/style.scss */
ul, ul.menu, ul.menu li {
  list-style: none;
  text-align: inherit;
  margin: 0;
  padding: 0; }

/* line 58, ../sass/style.scss */
li a.active, li.opened span.nolink {
  color: #5E5F61; }

/* Layout
-------------------------------------------------------------- */
/* line 63, ../sass/style.scss */
#header-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 20px; }
@media (max-width: 1080px) {
  /* line 63, ../sass/style.scss */
  #header-container {
    padding: 0; } }

/* line 78, ../sass/style.scss */
#logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  float: left;
  margin-right: 10px; }
/* line 84, ../sass/style.scss */
#logo a {
  background-color: #20a5d0;
  height: 50px;
  line-height: 47px;
  padding: 0 20px;
  display: block;
  color: #fff; }
/* line 92, ../sass/style.scss */
#logo a:hover {
  background-color: #fff;
  color: #20a5d0; }
@media (max-width: 1400px) {
  /* line 78, ../sass/style.scss */
  #logo {
    font-size: .8em !important; } }
@media (max-width: 700px) {
  /* line 78, ../sass/style.scss */
  #logo {
    font-size: .7em;
    letter-spacing: 1px; } }

/* line 108, ../sass/style.scss */
.region-nav-main {
  float: right;
  font-size: .8em; }
@media (max-width: 1080px) {
  /* line 108, ../sass/style.scss */
  .region-nav-main {
    float: none; } }
@media (max-width: 1400px) {
  /* line 108, ../sass/style.scss */
  .region-nav-main {
    font-size: .7em !important; } }

/* line 120, ../sass/style.scss */
.social-icons {
  font-size: 2em; }
@media (max-width: 1080px) {
  /* line 120, ../sass/style.scss */
  .social-icons {
    float: none; } }

/* line 128, ../sass/style.scss */
#main-nav {
  *zoom: 1;
  text-transform: uppercase;
  letter-spacing: 0;
  background-color: rgba(224, 224, 224, 0.9); }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#main-nav:after {
  content: "";
  display: table;
  clear: both; }
/* line 136, ../sass/style.scss */
#main-nav li {
  display: inline-block;
  margin-right: 20px; }
/* line 146, ../sass/style.scss */
#main-nav a.active {
  color: #20a5d0; }
@media (max-width: 1080px) {
  /* line 128, ../sass/style.scss */
  #main-nav {
    text-align: center; }
  /* line 154, ../sass/style.scss */
  #main-nav ul {
    text-align: center !important;
    padding-top: 50px; }
  /* line 159, ../sass/style.scss */
  #main-nav li {
    display: block;
    margin-right: 0;
    line-height: normal; }
  /* line 164, ../sass/style.scss */
  #main-nav li a {
    display: block;
    padding: 10px 0;
    border-bottom: #ededed solid 2px; } }
@media (max-width: 700px) {
  /* line 128, ../sass/style.scss */
  #main-nav {
    background-color: lightgray; } }

/* line 179, ../sass/style.scss */
#menu {
  display: block; }
@media (max-width: 1080px) {
  /* line 179, ../sass/style.scss */
  #menu {
    display: none; } }

/* line 187, ../sass/style.scss */
.menu-toggle {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
  position: fixed;
  z-index: 900;
  top: 0;
  right: 20px;
  background-color: #20a5d0;
  color: #ededed;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 47px;
  font-size: 2em;
  cursor: pointer; }
/* line 203, ../sass/style.scss */
.menu-toggle:hover {
  background-color: #5E5F61; }
@media (max-width: 1080px) {
  /* line 187, ../sass/style.scss */
  .menu-toggle {
    display: block; } }
@media (max-width: 1080px) {
  /* line 187, ../sass/style.scss */
  .menu-toggle {
    right: 0; } }

/* line 217, ../sass/style.scss */
#main-container {
  *zoom: 1;
  margin-top: 70px;
  height: 100%; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#main-container:after {
  content: "";
  display: table;
  clear: both; }
@media (max-width: 700px) {
  /* line 217, ../sass/style.scss */
  #main-container {
    height: auto;
    min-height: auto; } }

/* line 229, ../sass/style.scss */
.main {
  *zoom: 1; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.main:after {
  content: "";
  display: table;
  clear: both; }

/* line 233, ../sass/style.scss */
html {
  height: 100%; }

/* line 236, ../sass/style.scss */
.front {
  height: 100%;
  position: relative;
  width: 100%; }
/* line 241, ../sass/style.scss */
.front #main-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  margin: 0; }
/* line 250, ../sass/style.scss */
.front #footer-container {
  position: relative; }

/* line 255, ../sass/style.scss */
#footer-container {
  position: relative;
  padding: 0 20px;
  font-size: .8em; }
/* line 260, ../sass/style.scss */
#footer-container .inner {
  *zoom: 1;
  max-width: 1080px;
  margin: auto; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer-container .inner:after {
  content: "";
  display: table;
  clear: both; }
/* line 266, ../sass/style.scss */
#footer-container #footer {
  *zoom: 1;
  background-color: rgba(110, 110, 110, 0.9);
  color: #ededed; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer-container #footer:after {
  content: "";
  display: table;
  clear: both; }
/* line 272, ../sass/style.scss */
#footer-container .logo-big {
  float: left;
  margin-right: 20px; }
/* line 277, ../sass/style.scss */
#footer-container .footer-left {
  *zoom: 1;
  text-align: justify;
  float: left;
  width: 70%;
  padding: 20px; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer-container .footer-left:after {
  content: "";
  display: table;
  clear: both; }
/* line 287, ../sass/style.scss */
#footer-container .footer-right {
  *zoom: 1;
  float: right;
  text-align: right;
  padding: 20px;
  width: 30%; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#footer-container .footer-right:after {
  content: "";
  display: table;
  clear: both; }
/* line 294, ../sass/style.scss */
#footer-container .footer-right h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 2px; }
/* line 300, ../sass/style.scss */
#footer-container .footer-right a {
  color: #fff; }
/* line 303, ../sass/style.scss */
#footer-container .footer-right a:hover {
  color: #20a5d0; }
/* line 309, ../sass/style.scss */
#footer-container .social-icons {
  font-size: 2.3em; }
/* line 311, ../sass/style.scss */
#footer-container .social-icons a {
  margin: 0;
  margin-left: 10px; }
/* line 317, ../sass/style.scss */
#footer-container .copy {
  clear: both;
  background-color: #545454;
  padding: 20px;
  text-align: center;
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 2px; }
@media (max-width: 1080px) {
  /* line 255, ../sass/style.scss */
  #footer-container {
    padding: 0 10px; }
  /* line 330, ../sass/style.scss */
  #footer-container .footer-left, #footer-container .footer-right {
    margin: 0;
    float: none;
    width: 100%; }
  /* line 337, ../sass/style.scss */
  #footer-container .footer-right {
    text-align: center; } }
@media (max-width: 700px) {
  /* line 343, ../sass/style.scss */
  #footer-container .footer-left, #footer-container .footer-right, #footer-container .logo-big {
    margin: 0;
    float: none;
    width: 100%;
    clear: both; }
  /* line 352, ../sass/style.scss */
  #footer-container .footer-right {
    text-align: center; } }

/* line 359, ../sass/style.scss */
.not-front.node-type-image-gallery #footer-container {
  display: none; }
@media (max-width: 1080px) {
  /* line 359, ../sass/style.scss */
  .not-front.node-type-image-gallery #footer-container {
    display: block; } }

/* line 370, ../sass/style.scss */
.region-footer-left {
  margin-left: 220px;
  padding-top: 50px; }
@media (max-width: 700px) {
  /* line 370, ../sass/style.scss */
  .region-footer-left {
    margin: 0; } }

/* line 379, ../sass/style.scss */
.logo-big {
  width: 200px; }
/* line 382, ../sass/style.scss */
.logo-big img {
  width: 100%;
  height: auto; }

/* line 389, ../sass/style.scss */
.view-image-galleries {
  padding-left: 20px; }
/* line 392, ../sass/style.scss */
.view-image-galleries .views-row {
  float: left;
  width: 25%;
  padding: 0 20px 20px 0; }
@media (max-width: 1080px) {
  /* line 392, ../sass/style.scss */
  .view-image-galleries .views-row {
    width: 33.33%; } }
@media (max-width: 700px) {
  /* line 392, ../sass/style.scss */
  .view-image-galleries .views-row {
    width: 100%;
    padding: 0 10px 20px; } }
/* line 407, ../sass/style.scss */
.view-image-galleries .views-field-title {
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px; }
/* line 413, ../sass/style.scss */
.view-image-galleries .field-name-field-cover-image {
  line-height: 0; }
/* line 416, ../sass/style.scss */
.view-image-galleries .field-name-field-cover-image a {
  line-height: 0;
  display: block; }
@media (max-width: 700px) {
  /* line 389, ../sass/style.scss */
  .view-image-galleries {
    padding: 0; } }

/* line 429, ../sass/style.scss */
.node-type-page {
  height: 100%;
  position: relative; }
/* line 433, ../sass/style.scss */
.node-type-page #main-container {
  position: relative;
  height: 100%; }
/* line 438, ../sass/style.scss */
.node-type-page .main {
  background-color: rgba(237, 237, 237, 0.9);
  max-width: 700px;
  padding: 40px;
  margin: 80px auto; }
/* line 444, ../sass/style.scss */
.node-type-page .main h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2px; }
/* line 450, ../sass/style.scss */
.node-type-page .main a {
  color: #20a5d0; }
/* line 453, ../sass/style.scss */
.node-type-page .main a:hover {
  color: #5E5F61; }
@media (max-width: 700px) {
  /* line 429, ../sass/style.scss */
  .node-type-page {
    height: auto;
    min-height: auto; } }

/* line 470, ../sass/style.scss */
.page-node-3 .main {
  width: 500px;
  height: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px; }
@media (max-width: 700px) {
  /* line 470, ../sass/style.scss */
  .page-node-3 .main {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    top: auto;
    left: auto; } }
/* line 491, ../sass/style.scss */
.page-node-3 .social-icons a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin: 0 5px; }

/* IMAGE GALLERY
-------------------------------------------------------------- */
/* line 505, ../sass/style.scss */
.gallery {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
/* line 512, ../sass/style.scss */
.gallery .images ul {
  margin: 0 !important; }
/* line 516, ../sass/style.scss */
.gallery .images li {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 80px 20px;
  height: 100%;
  display: block; }
/* line 528, ../sass/style.scss */
.gallery .images li .image-group, .gallery .images li .single-image {
  position: relative;
  width: 100%;
  height: 100%; }
/* line 535, ../sass/style.scss */
.gallery .images li img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%; }
@media (max-width: 1080px) {
  /* line 516, ../sass/style.scss */
  .gallery .images li {
    position: relative !important;
    top: auto;
    left: auto;
    height: auto;
    padding: 2px 10px;
    display: block !important; }
  /* line 551, ../sass/style.scss */
  .gallery .images li img {
    margin-top: 0 !important; } }
/* line 557, ../sass/style.scss */
.gallery .images .captions {
  *zoom: 1;
  font-size: .6em;
  text-align: center;
  margin: auto;
  text-transform: uppercase; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.gallery .images .captions:after {
  content: "";
  display: table;
  clear: both; }
/* line 564, ../sass/style.scss */
.gallery .images .captions .caption {
  text-align: left; }
/* line 568, ../sass/style.scss */
.gallery .images .captions .c-left {
  float: left; }
/* line 572, ../sass/style.scss */
.gallery .images .captions .c-right {
  float: right; }
@media (max-width: 1080px) {
  /* line 557, ../sass/style.scss */
  .gallery .images .captions {
    margin-bottom: 20px; } }

/* line 586, ../sass/style.scss */
#controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 20px; }
/* line 594, ../sass/style.scss */
#controls .item-next, #controls .item-last {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  background-color: lightgray;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px; }
/* line 606, ../sass/style.scss */
#controls .item-next:hover, #controls .item-last:hover {
  background-color: #20a5d0; }
/* line 611, ../sass/style.scss */
#controls .item-last {
  background-position: -15px 0; }
@media (max-width: 1080px) {
  /* line 586, ../sass/style.scss */
  #controls {
    display: none !important; } }

/* line 620, ../sass/style.scss */
.extras {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background-color: #e0e0e0;
  height: 40px;
  text-align: center;
  line-height: 35px;
  padding: 0 20px; }

/* line 629, ../sass/style.scss */
.image-count {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px; }

/* line 636, ../sass/style.scss */
.thumbs-btn, .details-btn {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  margin-left: 20px; }
/* line 646, ../sass/style.scss */
.thumbs-btn:hover, .details-btn:hover {
  color: #20a5d0; }

/* line 651, ../sass/style.scss */
.is-thumb {
  height: auto;
  text-align: center;
  margin-top: 70px;
  padding: 0 20px; }
/* line 657, ../sass/style.scss */
.is-thumb .images {
  max-width: 1200px;
  margin: auto; }
/* line 661, ../sass/style.scss */
.is-thumb .images ul {
  margin: 0 !important; }
/* line 665, ../sass/style.scss */
.is-thumb .images li {
  display: inline-block !important;
  position: relative !important;
  top: auto;
  left: auto;
  width: auto;
  height: 230px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0; }
/* line 677, ../sass/style.scss */
.is-thumb .images li img {
  padding: 10px;
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin-top: 0 !important; }
/* line 691, ../sass/style.scss */
.is-thumb #controls, .is-thumb .captions {
  display: none !important; }

/* line 698, ../sass/style.scss */
.details-holder {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900; }
/* line 707, ../sass/style.scss */
.details-holder .overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(161, 161, 161, 0.9);
  z-index: 1; }
/* line 718, ../sass/style.scss */
.details-holder .details {
  -moz-box-shadow: 0 0 10px 0 #888;
  -webkit-box-shadow: 0 0 10px 0 #888;
  box-shadow: 0 0 10px 0 #888;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 400px;
  margin: -200px 0 0 -250px;
  padding: 40px;
  background-color: #ededed; }
/* line 731, ../sass/style.scss */
.details-holder .details h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px; }
/* line 738, ../sass/style.scss */
.details-holder .details .body {
  font-size: .8em;
  text-align: justify; }
/* line 743, ../sass/style.scss */
.details-holder .details .close-btn {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #20a5d0;
  padding: 10px 20px 15px;
  color: #fff;
  cursor: pointer; }
/* line 753, ../sass/style.scss */
.details-holder .details .close-btn:hover {
  background-color: #fff;
  color: #20a5d0; }

/* line 761, ../sass/style.scss */
.image-grid {
  max-width: 1000px;
  margin: auto; }
/* line 765, ../sass/style.scss */
.image-grid li {
  width: 33.3%;
  padding: 5px !important;
  margin: 0 !important; }
/* line 770, ../sass/style.scss */
.image-grid li img {
  width: 100%;
  height: auto; }
@media (max-width: 1080px) {
  /* line 765, ../sass/style.scss */
  .image-grid li {
    width: 100%;
    float: none;
    padding: 0 0 10px !important; } }
/* line 782, ../sass/style.scss */
.image-grid .single-image {
  line-height: 0; }
/* line 786, ../sass/style.scss */
.image-grid .caption {
  line-height: normal;
  background-color: lightgray;
  font-size: .7em;
  padding: 5px; }

/* line 799, ../sass/style.scss */
#bg-images .controls {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center; }
/* line 805, ../sass/style.scss */
#bg-images .controls span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: #fff solid 1px;
  width: 20px;
  height: 20px;
  cursor: pointer; }
/* line 814, ../sass/style.scss */
#bg-images .controls span:hover {
  background-color: rgba(255, 255, 255, 0.5); }
/* line 818, ../sass/style.scss */
#bg-images .controls span.active {
  background-color: #fff; }

/* line 826, ../sass/style.scss */
.krumo-root {
  z-index: 1000; }

/* line 832, ../sass/style.scss */
.service-links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }

/* line 837, ../sass/style.scss */
.panel-1col {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 80px; }
/* line 842, ../sass/style.scss */
.panel-1col h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-align: left; }
/* line 854, ../sass/style.scss */
.panel-1col .pane-block {
  margin-bottom: 80px; }
@media (max-width: 1080px) {
  /* line 837, ../sass/style.scss */
  .panel-1col {
    padding: 0 10px 80px; }
  /* line 861, ../sass/style.scss */
  .panel-1col p {
    font-size: .8em;
    text-align: left; }
  /* line 866, ../sass/style.scss */
  .panel-1col h2 {
    font-size: .9em;
    letter-spacing: 1px; }
  /* line 871, ../sass/style.scss */
  .panel-1col .pane-block {
    margin-bottom: 40px; } }

/* line 878, ../sass/style.scss */
.region-content .block-block {
  padding: 20px 20px 40px;
  max-width: 800px;
  text-align: justify; }
/* line 883, ../sass/style.scss */
.region-content .block-block h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px; }

/* line 892, ../sass/style.scss */
.pane-block-3 {
  text-align: justify; }

/* line 896, ../sass/style.scss */
.pane-block-4, .pane-block-5 {
  *zoom: 1; }
/* line 38, ../../../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.pane-block-4:after, .pane-block-5:after {
  content: "";
  display: table;
  clear: both; }
/* line 900, ../sass/style.scss */
.pane-block-4 li, .pane-block-5 li {
  font-size: .8em;
  float: left;
  width: 33.33%;
  margin-bottom: 10px; }
@media (max-width: 1080px) {
  /* line 900, ../sass/style.scss */
  .pane-block-4 li, .pane-block-5 li {
    width: 100%;
    float: none; } }

/* line 914, ../sass/style.scss */
.pane-block-5 li {
  width: 50%; }
@media (max-width: 1080px) {
  /* line 914, ../sass/style.scss */
  .pane-block-5 li {
    width: 100%;
    float: none; } }

/* line 924, ../sass/style.scss */
.pane-node {
  clear: both; }

/* line 930, ../sass/style.scss */
#admin-list h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 20px; }
/* line 936, ../sass/style.scss */
#admin-list h2 {
  font-size: 1em; }
/* line 940, ../sass/style.scss */
#admin-list ul {
  margin-bottom: 40px; }

/* line 947, ../sass/style.scss */
.logged-in #header-container {
  top: 100px; }
